.about {
    background-color: var(--green0);
    padding: 20px 0 40px 0;
}

.heading {
    width: 500px;
    color: var(--green5);
}

.about > .paragraph {
    color: var(--green4);
    width: 50%;
    margin: auto;
}
